<div>
  <button class="menu-button"
          [ngClass]="{'selected-page': this.selectedPage === 'demo'}"
          (click)="setPage(pages.demo)">Demo</button>
  <button class="menu-button"
          [ngClass]="{'selected-page': this.selectedPage === 'docs'}"
          (click)="setPage(pages.docs)">Documentation</button>
</div>
<div class="page-wrapper">
  <ng-container *ngIf="selectedPage===pages.demo">
    <app-demo></app-demo>
  </ng-container>
  <ng-container *ngIf="selectedPage === pages.docs">
    <app-documentation></app-documentation>
  </ng-container>
</div>
