pre.code {
  background: #282b2e;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}

h1,
h2 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
}
